<!--
Application: WebExample
Timestamp: 2015-08-02T16:24:35.9327637+02:00
Thread: [12:hr-HR:en-US]
ConfigSettings:  {
  'SaveConfigFile': true,
  'SaveConfigFileName': 'C:\\Dev\\CodeFirstConfig\\WebExample\\CodeFirstAppSettings.config',
  'EnableFileWatcher': true,
  'Format': 'AppConfig',
  'EnableTimer': false,
  'TimerMinutes': 5,
  'MaxFileWriteRetry': 3,
  'ThrowOnConfigureException': true
}
-->

<appSettings>
	<!--CodeFirstConfig application settings-->
	<add key="App.IsWebApp" value="True" />	<!--readonly-->
	<add key="App.IsDebugConfiguration" value="True" />	<!--readonly-->
	<add key="App.Debugging" value="False" />	<!--readonly-->
	<add key="App.Testing" value="False" />	<!--readonly-->
	<add key="App.BinFolder" value="C:\Dev\CodeFirstConfig\WebExample\bin" />	<!--readonly-->
	<add key="App.Version" value="1.0.0.0" />	<!--readonly-->
	<add key="App.Name" value="WebExample" />
	<add key="App.Id" value="WebExample" />
	<add key="App.InstanceId" value="webexample1e4c" />
	<add key="App.Folder" value="C:\Dev\CodeFirstConfig\WebExample\" />
	<add key="App.DataFolder" value="C:\Dev\CodeFirstConfig\WebExample\App_Data" />

	<add key="WebExample.SampleClass.Value1" value="MyValueFromCode1" />
	<add key="WebExample.SampleClass.Value2" value="MyValueFromCode2" />
	<add key="WebExample.SampleClass.Value3" value="MyValueFromCode3" />
	<add key="WebExample.SampleClass.Value4" value="MyValueFromCode4" />
	<add key="WebExample.SampleClass.Value5" value="MyValueFromCode5" />
	<add key="WebExample.SampleClass.Value6" value="MyValueFromCode6" />
	<add key="WebExample.SampleClass.Value7" value="MyValueFromCode7" />
	<add key="WebExample.SampleClass.EnumValue1" value="Enum1" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.EnumValue2" value="Enum2" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.DateTimeValue1" value="'2015-01-15T00:00:00'" />
	<add key="WebExample.SampleClass.DateTimeValue2" value="'2015-05-30T00:00:00'" />
	<add key="WebExample.SampleClass.BoolValue1" value="True" />
	<add key="WebExample.SampleClass.BoolValue2" value="True" />
	<add key="WebExample.SampleClass.ComplexClass1" value="null" />
	<add key="WebExample.SampleClass.ComplexClass2" value="{'Field1':'Field1','Field2':'Field2'}" />
	<add key="WebExample.SampleClass.StringArray1" value="null" />
	<add key="WebExample.SampleClass.StringArray2" value="['value1','value2']" />
</appSettings>
