<!--
Timestamp: 2015-08-11T17:02:31.6384338+02:00
App:  {"Name":"WebExample","Id":"WebExample","InstanceId":"WebExamplefb67","Web":true,"Debug":true,"Debugging":false,"Testing":false}
Settings:  {"SaveConfigFile":true,"ConfigFileName":"C:\\Dev\\CodeFirstConfig\\WebExample\\CodeFirstAppSettings.config","WriteUnbinedAppSettings":true,"EnableFileWatcher":true,"ConfigFileFormat":"AppConfig","EnableTimer":false,"TimerMinutes":5,"ThrowOnConfigureException":false}
-->

<appSettings>
	<!--CodeFirstConfig application settings-->
	<add key="App.Name" value="WebExample" />
	<add key="App.Id" value="WebExample" />
	<add key="App.InstanceId" value="WebExamplefb67" />
	<add key="App.Folder" value="C:\Dev\CodeFirstConfig\WebExample\" />
	<add key="App.DataFolder" value="C:\Dev\CodeFirstConfig\WebExample\App_Data" />
	<add key="App.Version" value="1.0.0.0" />

	<add key="WebExample.SampleClass.Value1" value="a" />
	<add key="WebExample.SampleClass.Value2" value="MyValueFromCode2" />
	<add key="WebExample.SampleClass.Value3" value="MyValueFromCode3" />
	<add key="WebExample.SampleClass.Value4" value="MyValueFromCode4" />
	<add key="WebExample.SampleClass.Value5" value="MyValueFromCode5" />
	<add key="WebExample.SampleClass.Value6" value="MyValueFromCode6" />
	<add key="WebExample.SampleClass.Value7" value="MyValueFromCode7" />
	<add key="WebExample.SampleClass.EnumValue1" value="Enum1" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.EnumValue2" value="Enum2" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.BoolValue1" value="True" />
	<add key="WebExample.SampleClass.BoolValue2" value="True" />
	<add key="WebExample.SampleClass.ComplexClass2" value="{'Field1':'Field1','Field2':'Field2'}" />
	<add key="WebExample.SampleClass.StringArray2" value="['value1','value2']" />

	<!--Unbinded-->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
