<!--
Application: WebExample
Timestamp: 2015-08-04T14:35:59.6935640+02:00
Thread: [12:hr-HR:en-GB]
ConfigSettings:  {
  'SaveConfigFile': true,
  'SaveConfigFileName': 'C:\\Dev\\CodeFirstConfig\\WebExample\\CodeFirstAppSettings.config',
  'EnableFileWatcher': true,
  'Format': 'AppConfig',
  'EnableTimer': false,
  'TimerMinutes': 5,
  'MaxFileWriteRetry': 3,
  'ThrowOnConfigureException': true
}
-->

<appSettings>
	<!--CodeFirstConfig application settings-->
	<add key="App.IsWebApp" value="True" />	<!--readonly-->
	<add key="App.IsDebugConfiguration" value="True" />	<!--readonly-->
	<add key="App.Debugging" value="False" />	<!--readonly-->
	<add key="App.Testing" value="False" />	<!--readonly-->
	<add key="App.BinFolder" value="C:\Dev\CodeFirstConfig\WebExample\bin" />	<!--readonly-->
	<add key="App.Version" value="1.0.0.0" />	<!--readonly-->
	<add key="App.Name" value="WebExample" />
	<add key="App.Id" value="WebExample" />
	<add key="App.InstanceId" value="aaaa" />
	<add key="App.Folder" value="C:\Dev\CodeFirstConfig\WebExample\" />
	<add key="App.DataFolder" value="C:\Dev\CodeFirstConfig\WebExample\App_Data" />

	<add key="WebExample.SampleClass.Value1" value="MyValueFromCode1" />
	<add key="WebExample.SampleClass.Value2" value="MyValueFromCode2" />
	<add key="WebExample.SampleClass.Value3" value="MyValueFromCode3" />
	<add key="WebExample.SampleClass.Value4" value="MyValueFromCode4" />
	<add key="WebExample.SampleClass.Value5" value="MyValueFromCode5" />
	<add key="WebExample.SampleClass.Value6" value="MyValueFromCode6" />
	<add key="WebExample.SampleClass.Value7" value="MyValueFromCode7" />
	<add key="WebExample.SampleClass.EnumValue1" value="Enum1" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.EnumValue2" value="Enum2" />	<!--enum TestEnum { Enum1, Enum2, Enum3 }-->
	<add key="WebExample.SampleClass.BoolValue1" value="True" />
	<add key="WebExample.SampleClass.BoolValue2" value="True" />
	<add key="WebExample.SampleClass.ComplexClass2" value="{'Field1':'Field1','Field2':'Field2'}" />
	<add key="WebExample.SampleClass.StringArray2" value="['value1','value2']" />
</appSettings>


System.AggregateException: One or more errors occurred. ---> System.Configuration.ConfigurationErrorsException: An error occurred loading a configuration file: The process cannot access the file 'C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config' because it is being used by another process. (C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config) ---> System.IO.IOException: The process cannot access the file 'C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config' because it is being used by another process.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, String msgPath, Boolean bFromProxy, Boolean useLongPath, Boolean checkHost)
   at System.IO.FileStream..ctor(String path, FileMode mode, FileAccess access, FileShare share)
   at System.Configuration.Internal.InternalConfigHost.StaticOpenStreamForRead(String streamName)
   at System.Configuration.Internal.InternalConfigHost.System.Configuration.Internal.IInternalConfigHost.OpenStreamForRead(String streamName, Boolean assertPermissions)
   at System.Configuration.Internal.InternalConfigHost.System.Configuration.Internal.IInternalConfigHost.OpenStreamForRead(String streamName)
   at System.Configuration.Internal.DelegatingConfigHost.OpenStreamForRead(String streamName)
   at System.Configuration.BaseConfigurationRecord.LoadConfigSource(String name, SectionXmlInfo sectionXmlInfo)
   at System.Configuration.BaseConfigurationRecord.GetSectionXmlReader(String[] keys, SectionInput input)
   --- End of inner exception stack trace ---
   at System.Configuration.BaseConfigurationRecord.EvaluateOne(String[] keys, SectionInput input, Boolean isTrusted, FactoryRecord factoryRecord, SectionRecord sectionRecord, Object parentResult)
   at System.Configuration.BaseConfigurationRecord.Evaluate(FactoryRecord factoryRecord, SectionRecord sectionRecord, Object parentResult, Boolean getLkg, Boolean getRuntimeObject, Object& result, Object& resultRuntimeObject)
   at System.Configuration.BaseConfigurationRecord.GetSectionRecursive(String configKey, Boolean getLkg, Boolean checkPermission, Boolean getRuntimeObject, Boolean requestIsHere, Object& result, Object& resultRuntimeObject)
   at System.Configuration.BaseConfigurationRecord.GetSection(String configKey)
   at System.Web.Configuration.HttpConfigurationSystem.GetApplicationSection(String sectionName)
   at System.Web.Configuration.HttpConfigurationSystem.GetSection(String sectionName)
   at System.Web.Configuration.HttpConfigurationSystem.System.Configuration.Internal.IInternalConfigSystem.GetSection(String configKey)
   at System.Configuration.ConfigurationManager.get_AppSettings()
   at CodeFirstConfig.ConfigValues.GetConfiguration() in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfigValues.cs:line 13
   at CodeFirstConfig.ConfigValues.Reconfigure(Boolean refreshAppSettings) in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfigValues.cs:line 45
   at CodeFirstConfig.Configurator.ConfigureInternal(Action`1 action, DbConfigOptions databaseOptions, Boolean waitBeforeFirstWrite, Boolean refreshAppSettings, ConfigSettings settings) in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfiguratorInternal.cs:line 90
   --- End of inner exception stack trace ---
---> (Inner Exception #0) System.Configuration.ConfigurationErrorsException: An error occurred loading a configuration file: The process cannot access the file 'C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config' because it is being used by another process. (C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config) ---> System.IO.IOException: The process cannot access the file 'C:\Dev\CodeFirstConfig\WebExample\CodeFirstAppSettings.config' because it is being used by another process.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, String msgPath, Boolean bFromProxy, Boolean useLongPath, Boolean checkHost)
   at System.IO.FileStream..ctor(String path, FileMode mode, FileAccess access, FileShare share)
   at System.Configuration.Internal.InternalConfigHost.StaticOpenStreamForRead(String streamName)
   at System.Configuration.Internal.InternalConfigHost.System.Configuration.Internal.IInternalConfigHost.OpenStreamForRead(String streamName, Boolean assertPermissions)
   at System.Configuration.Internal.InternalConfigHost.System.Configuration.Internal.IInternalConfigHost.OpenStreamForRead(String streamName)
   at System.Configuration.Internal.DelegatingConfigHost.OpenStreamForRead(String streamName)
   at System.Configuration.BaseConfigurationRecord.LoadConfigSource(String name, SectionXmlInfo sectionXmlInfo)
   at System.Configuration.BaseConfigurationRecord.GetSectionXmlReader(String[] keys, SectionInput input)
   --- End of inner exception stack trace ---
   at System.Configuration.BaseConfigurationRecord.EvaluateOne(String[] keys, SectionInput input, Boolean isTrusted, FactoryRecord factoryRecord, SectionRecord sectionRecord, Object parentResult)
   at System.Configuration.BaseConfigurationRecord.Evaluate(FactoryRecord factoryRecord, SectionRecord sectionRecord, Object parentResult, Boolean getLkg, Boolean getRuntimeObject, Object& result, Object& resultRuntimeObject)
   at System.Configuration.BaseConfigurationRecord.GetSectionRecursive(String configKey, Boolean getLkg, Boolean checkPermission, Boolean getRuntimeObject, Boolean requestIsHere, Object& result, Object& resultRuntimeObject)
   at System.Configuration.BaseConfigurationRecord.GetSection(String configKey)
   at System.Web.Configuration.HttpConfigurationSystem.GetApplicationSection(String sectionName)
   at System.Web.Configuration.HttpConfigurationSystem.GetSection(String sectionName)
   at System.Web.Configuration.HttpConfigurationSystem.System.Configuration.Internal.IInternalConfigSystem.GetSection(String configKey)
   at System.Configuration.ConfigurationManager.get_AppSettings()
   at CodeFirstConfig.ConfigValues.GetConfiguration() in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfigValues.cs:line 13
   at CodeFirstConfig.ConfigValues.Reconfigure(Boolean refreshAppSettings) in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfigValues.cs:line 45
   at CodeFirstConfig.Configurator.ConfigureInternal(Action`1 action, DbConfigOptions databaseOptions, Boolean waitBeforeFirstWrite, Boolean refreshAppSettings, ConfigSettings settings) in C:\Dev\CodeFirstConfig\CodeFirstConfig\ConfiguratorInternal.cs:line 90<---
