@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFirstConfig example</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="description" content="CodeFirstConfig example web application." />
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">CodeFirstConfig example</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="jumbotron">
            <button class="btn btn-primary btn-lg">REFRESH ALL</button>
            <div class="row">
                <div class="col-md-6" id="sampleClass">
                    <code>SampleClass</code>
                    <a class="btn btn-sm">refresh</a>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
                <div class="col-md-6" id="log">
                    <code>Log</code>
                    <a class="btn btn-sm">refresh</a>
                    <a class="btn btn-sm">clear</a>
                    <label class="checkbox-inline"><input type="checkbox" value="" checked="checked">reversed</label>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable">
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="config">
                    <code>CodeFirstConfig</code>
                    <a class="btn btn-sm">refresh</a>
                    <label class="radio-inline"><input type="radio" name="configformat" checked="checked" value="AppConfig">AppConfig</label>
                    <label class="radio-inline"><input type="radio" name="configformat" value="Json">Json</label>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
                <div class="col-md-12" id="appsettings">
                    <code>ConfigurationManager.AppSettings</code>
                    <a class="btn btn-sm">refresh</a>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
            </div>
        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - CodeFirstConfig</p>
        </footer>


        <div id="confirm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">Are you sure you want to clear log file?</div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="clear">Clear</button>
                        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
<style>
    div.jumbotron > div {            
        width: 100%;
        display: inline-block;
    }
    div.jumbotron > button {
        top: -30px;
        position: relative;
    }
    div.jumbotron label {
        font-size: 12px;
    }
    div.jumbotron a {
        padding-bottom: 0;
        padding-top: 0;    }
    pre {
        background-color: #ffffff;
    }
    .refresh-time {
        float: right;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        font-size: 11px;
        position: absolute;
        top: 20px;
        right: 32px;
        color: #BF0D0D;            
        background-color: rgb(238, 238, 238);
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
</style>
<script type="text/javascript">
    (function () {

        function encode(s) { return s.replace(/</g, "&lt;").replace(/>/g, "&gt;"); }

        var content = $(".body-content"),
            jumbo = $("div.jumbotron", content),
            button = $("button", jumbo),

            sampleClassPre = $("#sampleClass pre", jumbo).html(""),
            logPre = $("#log pre", jumbo).html(""),
            configPre = $("#config pre", jumbo).html(""),
            settingsPre = $("#appsettings pre", jumbo).html(""),
            logRevresed = $("input", logPre.parent()).click(function () { refreshlog(); }),
            configInputRadio = $("input", configPre.parent()).click(function () { refreshConfig(); }),
            configFormat = function () {
                for (var i = 0; i < configInputRadio.length; i++) {
                    var e = $(configInputRadio[i]);
                    if (e.is(":checked")) return e.val();
                }
            },
            refresh = function (pre, url) {
                pre.addClass("disabled");
                if (!button.hasClass("disabled")) {
                    button.addClass("disabled")
                }
                $.ajax({
                    url: url,
                    complete: function (r) {
                        if (r.status === 200) {       
                            pre.html(encode(r.responseText));
                            $(".refresh-time", pre.parent()).html(r.getResponseHeader("_timestamp"))
                        } else {
                            pre.html("Error = " + r.responseText);
                        }
                    }
                }).always(function () {
                    pre.removeClass("disabled");
                    if (!sampleClassPre.hasClass("disabled") && !logPre.hasClass("disabled") && !configPre.hasClass("disabled") && !settingsPre.hasClass("disabled")) {
                        button.removeClass("disabled");
                    }
                });
            },
            refreshSampleClass = function () { refresh(sampleClassPre, "/api/SampleClass"); },
            refreshlog = function () { refresh(logPre, "/api/Log" + (logRevresed.is(":checked") ? "?reverse" : "")); },
            çlearlog = function () { $.ajax({ url: "/api/Log/Clear" }).always(refreshlog); },
            refreshConfig = function () { refresh(configPre, "/api/Config" + "?" + configFormat()); },
            refreshSettings = function () { refresh(settingsPre, "/api/Config/AppSettings") },
            confirm = $("#confirm", content);

        $("a:last", logPre.parent()).click(function (e) { confirm.modal({ backdrop: 'static', keyboard: false }).one('click', '#clear', çlearlog); });
        $("a", sampleClassPre.parent()).click(refreshSampleClass);
        $("a:first", logPre.parent()).click(refreshlog);
        $("a", configPre.parent()).click(refreshConfig);
        $("a", settingsPre.parent()).click(refreshSettings);

        button.click(function () {           
            refreshSampleClass();
            refreshlog();
            refreshConfig();
            refreshSettings();
        }).click();

    })();
</script>