@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFirstConfig example</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="description" content="CodeFirstConfig example web application." />
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">CodeFirstConfig example</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="jumbotron">
            <button class="btn btn-primary btn-lg">REFRESH ALL</button>
            <div class="row">
                <div class="col-md-6" id="sampleClass">
                    <code>SampleClass</code>
                    <a class="btn btn-sm">refresh</a>
                    <a class="btn btn-sm">zoom</a>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
                <div class="col-md-6" id="log">
                    <code>Log</code>
                    <a class="btn btn-sm">refresh</a>
                    <a class="btn btn-sm">clear</a>
                    <a class="btn btn-sm">zoom</a>
                    <label class="checkbox-inline"><input type="checkbox" value="" checked="checked">reversed</label>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable">
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="config">
                    <code>CodeFirstConfig</code>
                    <a class="btn btn-sm">refresh</a>
                    <a class="btn btn-sm">zoom</a>
                    <label class="radio-inline"><input type="radio" name="configformat" checked="checked" value="AppConfig">AppConfig</label>
                    <label class="radio-inline"><input type="radio" name="configformat" value="Json">Json</label>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
                <div class="col-md-12" id="appsettings">
                    <code>ConfigurationManager.AppSettings</code>
                    <a class="btn btn-sm">refresh</a>
                    <a class="btn btn-sm">zoom</a>
                    <span class="refresh-time"></span>
                    <pre class="pre-scrollable"></pre>
                </div>
            </div>
        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - CodeFirstConfig</p>
        </footer>


        <div id="confirm" class="modal fade in" role="dialog" tabindex='-1' style="z-index: 99999;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">Are you sure you want to clear log file?</div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="clear">Clear</button>
                        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="zoom" class="modal fade in" role="dialog" tabindex='-1'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body jumbotron">
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
<style>
    div.jumbotron > div {            
        width: 100%;
        display: inline-block;
    }
    div.jumbotron > button {
        top: -30px;
        position: relative;
    }
    div.jumbotron label {
        font-size: 12px;
    }
    div.jumbotron a {
        padding-bottom: 0;
        padding-top: 0;    }
    pre {
        background-color: #ffffff;
    }
    .refresh-time {
        float: right;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        font-size: 11px;
        position: absolute;
        top: 20px;
        right: 32px;
        color: #BF0D0D;            
        background-color: rgb(238, 238, 238);
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
    .modal.fade .modal-dialog {
      -webkit-transition: -webkit-transform 0.3s ease-out !important;
         -moz-transition: -moz-transform 0.3s ease-out !important;
           -o-transition: -o-transform 0.3s ease-out !important;
              transition: transform 0.3s ease-out !important;
    }
    .modal-body.jumbotron {
        margin-bottom: 0; 
    }        
    .modal-body.jumbotron pre {
        font-size: 15px;
    }
    .modal-body.jumbotron .refresh-time {
        position: initial;
        border: 0;
    }
    .modal-body.jumbotron a:last-of-type {
        display: none;
    }
</style>
<script type="text/javascript">
    (function () {        
        var
            encode = function (s) { return s.replace(/</g, "&lt;").replace(/>/g, "&gt;"); },
            content = $(".body-content"),
            jumbo = $("div.jumbotron", content),
            button = $("button", jumbo),

            sampleClassPre = $("#sampleClass pre", jumbo).html(""),
            logPre = $("#log pre", jumbo).html(""),
            configPre = $("#config pre", jumbo).html(""),
            settingsPre = $("#appsettings pre", jumbo).html(""),
            logRevresed = $("input", logPre.parent()).click(function () { refreshlog(); }),
            configInputRadio = $("input", configPre.parent()).click(function () { refreshConfig(); }),
            radioVal = function (radio) {
                for (var i = 0; i < radio.length; i++) {
                    var e = $(radio[i]);
                    if (e.is(":checked")) return e.val();
                }
            },
            refresh = function (pre, url) {
                pre.addClass("disabled");
                $.ajax({
                    url: url,
                    complete: function (r) {
                        if (r.status === 200) {
                            pre.html(encode(r.responseText));
                            $(".refresh-time", pre.parent()).html(r.getResponseHeader("_timestamp"))
                        } else {
                            pre.html("Error = " + r.responseText);
                        }
                    }
                }).always(function () {
                    pre.removeClass("disabled");
                });
            },
            refreshSampleClass = function () { refresh(sampleClassPre, "/api/SampleClass"); },
            refreshlog = function () { refresh(logPre, "/api/Log" + (logRevresed.is(":checked") ? "?reverse" : "")); },
            clearlog = function () { $.ajax({ url: "/api/Log/Clear" }).always(refreshlog); },
            refreshConfig = function () { refresh(configPre, "/api/Config" + "?" + radioVal(configInputRadio)); },
            refreshSettings = function () { refresh(settingsPre, "/api/Config/AppSettings") },
            confirm = $("#confirm", content),
            zoom = $("#zoom", content),
            openZoom = function (pre, func) {
                func($(".modal-body", zoom).html(pre.parent().html()).find("pre").removeClass("pre-scrollable"));
                zoom.modal();                
            };

        $("a:first", sampleClassPre.parent()).click(refreshSampleClass);
        $("a:last", sampleClassPre.parent()).click(function () {
            openZoom(sampleClassPre, function (pre) {
                $("a:first", pre.parent()).click(function () { refresh(pre, "/api/SampleClass"); });
            });            
        });

        $("a:first", logPre.parent()).click(refreshlog);
        $("a:last", logPre.parent()).click(function () {
            openZoom(logPre, function (pre) {
                var
                    lr = $("input", pre.parent()).click(function () { r(); }),
                    r = function () { refresh(pre, "/api/Log" + (lr.is(":checked") ? "?reverse" : "")); };
                $("a:first", pre.parent()).click(r);
                $("a:eq(1)", pre.parent()).click(function () {
                    confirm.modal().one('click', '#clear', function () {
                        $.ajax({ url: "/api/Log/Clear" }).always(r);
                    })
                });
            });            
        });
        $("a:eq(1)", logPre.parent()).click(function () { confirm.modal().one('click', '#clear', clearlog); });
                        
        $("a", configPre.parent()).click(refreshConfig);
        $("a:last", configPre.parent()).click(function () {
            openZoom(configPre, function (pre) {
                var ri = $("input", pre.parent()).click(function () { refresh(pre, "/api/Config" + "?" + radioVal(ri)); });
                $("a:first", pre.parent()).click(function () { refresh(pre, "/api/Config" + "?" + radioVal(ri)); });
            });
        });

        $("a", settingsPre.parent()).click(refreshSettings);
        $("a:last", settingsPre.parent()).click(function () {
            openZoom(settingsPre, function (pre) {
                $("a:first", pre.parent()).click(function () { refresh(pre, "/api/Config/AppSettings"); });
            });
        });

        button.click(function () {           
            refreshSampleClass();
            refreshlog();
            refreshConfig();
            refreshSettings();
        }).click();

    })();
</script>