@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFirstConfig sample</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link src="/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link src="/Content/site.css" rel="stylesheet" />

</head>
<body>


    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">CodeFirstConfig sample</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
    
        <div class="jumbotron">
            <p class="lead">SampleClass configuration</p>
            <pre class="pre-scrollable">
            </pre>
            <p>
                <button class="btn btn-primary btn-sm">Refresh</button>
            </p>
        </div>



        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

</body>
</html>