<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="IntArray" value="[1,2,3]" />
  
  <add key="StringArray" value="['first','second','third']" />
  
  <add key="StringEnumerable" value="['first','second','third','fourth']" />

  <add key="StringStringDictionary" value="{{'key1','value1'},{'key2','value2'},{'key3','value3'}}" />
  
  <add key="IntStringDictionary" value="{{1,'value1'},{2,'value2'},{3,'value3'}}" />
  
  <add key="ComplexClass1" value="null" />

  <add key="ComplexClass2" value="{Value1:'value1', Value2:1, Value3: true}" />
  
  <add key="ComplexClassEnumerable" value="[{Value1:'value1', Value2:1, Value3: true}',{Value1:'value2', Value2:3, Value3: false},{Value1:'value3', Value2:3, Value3: true}]" />
  
</appSettings>
