<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Value1" value="Enum2" />
  <add key="Value2" value="null" />
  <add key="Value3" value="Enum1" />
  
  <add key="Value4" value="Flag2, Flag3" />
  <add key="Value5" value="null" />
  <add key="Value6" value="Flag1, Flag2, Flag3" /> 
</appSettings>
