<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Value1" value="Configured1" />
  <add key="Value2" value="null" />
  <add key="Value3" value="Configured3" />

  <add key="InheritConfigModuleCs6.Value2" value="Configured2" />
  <add key="InheritConfigModuleCs6.Value3" value="null" />
  
  <add key="Value4" value="-2" />  
  <add key="Value5" value="null" />
  <add key="Value6" value="-4" />  
</appSettings>
