<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Value1" value="Configured1" />
  <add key="Value2" value="Configured2" />
  <add key="FirstConfigurableModule.Value2" value="FirstConfigurableModule.Configured2" />
  <add key="SecondConfigurableModule.Value2" value="SecondConfigurableModule.Configured2" />
</appSettings>
