<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="SqlServerCe" connectionString="Data Source=|DataDirectory|TestDatabase.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>

  <appSettings configSource="_BasicExample.config"></appSettings>
  
  <!--<appSettings>
    <add key="Value2" value="MyValueFromConfig2"/>
    <add key="TestClass.Value3" value="MyValueFromConfig3"/>
    <add key="PocoConfigTests.TestClass.Value4" value="MyValueFromConfig4"/>
    <add key="Tests.PocoConfigTests.TestClass.Value5" value="MyValueFromConfig5"/>
    <add key="CodeFirstConfig.Tests.PocoConfigTests.TestClass.Value6" value="MyValueFromConfig6"/>

    <add key="Value7" value="MyValueFromConfig7_1"/>
    <add key="TestClass.Value7" value="MyValueFromConfig7_2"/>
    <add key="PocoConfigTests.TestClass.Value7" value="MyValueFromConfig7_3"/>
    <add key="Tests.PocoConfigTests.TestClass.Value7" value="MyValueFromConfig7_4"/>
    <add key="CodeFirstConfig.Tests.PocoConfigTests.TestClass.Value7" value="MyValueFromConfig7_5"/>

    <add key="TestClass2.Value3" value="MyValueFromConfig3"/>

    <add key="EnumConfig" value="Enum3"/>

    <add key="DateTimeValueConfig" value="20.7.2015"/>

    <add key="BoolValueConfig" value="false"/>

    <add key="ComplexClassConfig" value="{Field1:'Field1CONFIG', Field2:'Field2CONFIG'}"/>

    <add key="StringArray" value="['value1', 'value2']"/>
  </appSettings>-->
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
