<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Value" value="MyValueFromConfig1"/>
  <add key="TestPocoConfig.Value" value="MyValueFromConfig2"/>
  <add key="ConfigUnitTests.TestPocoConfig.Value" value="MyValueFromConfig3"/>
  <add key="Tests.ConfigUnitTests.TestPocoConfig.Value" value="MyValueFromConfig4"/>
  <add key="Infrastructure.Tests.ConfigUnitTests.TestPocoConfig.Value" value="MyValueFromConfig5"/>

  <add key="FakeNamespace.Infrastructure.Tests.ConfigUnitTests.TestPocoConfig.Value" value="MyValueFromConfig6"/>

</appSettings>
