<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--<add key="Value" value="MyValueFromConfig"/>-->
  <!--<add key="TestCompositionConfig.Value" value="MyValueFromConfig"/>-->
  <!--<add key="ConfigUnitTests.TestCompositionConfig.Value" value="MyValueFromConfig"/>-->
  <!--<add key="Tests.ConfigUnitTests.TestCompositionConfig.Value" value="MyValueFromConfig"/>-->
  <add key="Infrastructure.Tests.ConfigUnitTests.TestCompositionConfig.Value" value="MyValueFromConfig"/>
</appSettings>
