<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--<add key="Value" value="MyValueFromConfig"/>-->
  <!--<add key="TestInheritConfig.Value" value="MyValueFromConfig"/>-->
  <!--<add key="ConfigUnitTests.TestInheritConfig.Value" value="MyValueFromConfig"/>-->
  <!--<add key="Tests.ConfigUnitTests.TestInheritConfig.Value" value="MyValueFromConfig"/>-->
  <add key="Infrastructure.Tests.ConfigUnitTests.TestInheritConfig.Value" value="MyValueFromConfig"/>

  <add key="Infrastructure.Tests.ConfigUnitTests.TestInheritConfig2.Value2" value="MyValueFromConfig2"/>
</appSettings>
