<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TestTypesConfig.StringValueConfig" value="StringValueFromCONFIG" />
  <add key="TestTypesConfig.DateTimeValueConfig" value="2015-3-3" />
  <add key="TestTypesConfig.BoolValueConfig" value="false" />
  <add key="TestTypesConfig.EnumValueConfig" value="enum2" />
  <add key="TestTypesConfig.ComplexClassConfig" value="{Field1:'Field1CONFIG', Field2:'Field2CONFIG'}" />

  <add key="TestTypesConfig.StringArray" value="['value1', 'value2']" />
</appSettings>
